@import "../../../node_modules/normalize-css/normalize.css"
@import "./variables"
@import "./icons"
@import "./skeleton"

.ik-header
  text-align center
  margin-top 3em

  button
    margin-left 0.5em

.ik-inline-label
  display: inline;
  margin-right: 1em;

.ik-text-right
  text-align right

table
  button
    margin-bottom 0
